# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
*.egg-info/
*.egg

# Django
*.log
db.sqlite3
db.sqlite3-journal

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
npm-debug.log
yarn-error.log

# Custom
jules-scratch/

invest-app/staticfiles/
.env